Repository receipt-project/receipt-java, pull requests merged in 2020-05, with the labels that each got.

#26 Create fns loader
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/config/EnableFnsSdk.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/config/FnsSdkConfiguration.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/dto/FnsApiReceiptDto.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/dto/FnsAppReceiptDto.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/dto/FnsItemDto.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/dto/FnsReceiptDto.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/dto/FnsResponseDocumentDto.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/dto/FnsResponseDto.kt
  fns-sdk/src/main/kotlin/space/shefer/receipt/fnssdk/service/FnsService.kt
  fns-sdk/src/test/kotlin/space/shefer/receipt/fnssdk/dto/FnsReceiptDtoTest.kt
  rest-api-dto/src/main/java/space/shefer/receipt/rest/dto/ReceiptProvider.java
  rest-api/src/main/java/space/shefer/receipt/rest/RestApplication.java
  rest-api/src/main/java/space/shefer/receipt/rest/controller/TgbotController.java
  rest-api/src/main/java/space/shefer/receipt/rest/loader/ReceiptLoadJob.java
  rest-api/src/main/java/space/shefer/receipt/rest/service/FnsReceiptService.java
  rest-api/src/main/java/space/shefer/receipt/rest/service/ReceiptService.java
  rest-api/src/test/java/space/shefer/receipt/rest/controller/TgbotControllerTest.java
  rest-api/src/test/java/space/shefer/receipt/rest/service/FnsReceiptServiceTest.java
Labels: enhancement, fns

#49 loader: Handle exception from fns-service and set fail status after
  rest-api/src/main/java/space/shefer/receipt/rest/loader/ReceiptLoadJob.java
Labels: bug

#53 More retail info for receipt
  rest-api-dto/src/main/java/space/shefer/receipt/rest/dto/ReceiptMetaDto.java
  rest-api/src/main/java/space/shefer/receipt/rest/entity/Receipt.java
  rest-api/src/main/java/space/shefer/receipt/rest/service/FnsReceiptService.java
  rest-api/src/test/java/space/shefer/receipt/rest/repository/ReceiptRepositorySlowTest.java
Labels: enhancement, fns, rest-api

#63 RCJ-62 Add logic for save data from user
  rest-api/src/main/java/space/shefer/receipt/rest/controller/UserController.java
  rest-api/src/main/java/space/shefer/receipt/rest/entity/BaseUuidIdEntity.java
  rest-api/src/main/java/space/shefer/receipt/rest/entity/UserProfile.java
  rest-api/src/main/java/space/shefer/receipt/rest/repository/UserProfileRepository.java
  rest-api/src/main/java/space/shefer/receipt/rest/service/UserProfileService.java
Labels: enhancement, rest-api
